.Seal {
  position: absolute;
  z-index: 0;
  top: 2vh;
  right: 63vw;
  margin-left: auto;
  margin-right: auto;
}

.RingText {
  position: absolute;
  z-index: 0;
  top: 0vh;
  height: 30rem;
  margin-left: auto;
  margin-right: auto;
  animation: circle-spinner 55s linear infinite;
}

.JRRTSeal {
  position: absolute;
  z-index: 0;
  top: 8vh;
  left: 6vw;
  height: 20rem;
  margin-left: auto;
  margin-right: auto;
}

@keyframes circle-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}
